[Desktop Entry]
Type=Application
Name=MultiMail
GenericName=Offline Mail Reader
Comment=Offline mail packet reader for Blue Wave, QWK, OMEN, SOUP, and OPX
Exec=mm
Icon=multimail
Terminal=true
Categories=Network;Email;
Keywords=offline;mail;qwk;bluewave;bbs;soup;
